<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Про нас</title>
    <link th:href="@{/css/about.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
    <video autoplay loop class="results-background-video" muted playsinline>
        <source src="videos/background-video.mp4" type="video/mp4">
    </video>
    <div class="results-window">
        <h2 class="results-window-title">О нас</h2>
        Данный сервис может быть полезен для Вас в качестве тренировки грамматических правил английсокго языка.
        На данной платформе представлен блок с теоритической информацией и блок с практическими упражнениями
        для закрепления изученного.
        <p><a href="https://www.videvo.net/video/blue-fractal-background-loop/1662/">Фоновое видео было взято из данного источника</a></p>
        <p><a href="https://englishweb.ru/grammar/tenses-chart.html">Теоретический материал был взять с данного источника</a></p>
    </div>
</div>
</body>
</html>