<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Упражнения</title>
    <link th:href="@{/css/exercises.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
    <video autoplay loop class="results-background-video" muted playsinline>
        <source src="videos/background-video.mp4" type="video/mp4">
    </video>
    <div class="results-window">
        <h2 class="results-window-title">Выберите интересующую Вас тему</h2>
        <a class="results-window-button" href="exercises/past-simple-rules" type="button">Past Simple</a>
        <a class="results-window-button" href="exercises/past-continuous-rules" type="button">Past Continuous</a>
        <a class="results-window-button" href="exercises/past-perfect-rules" type="button">Past Perfect</a>
        <a class="results-window-button" href="exercises/present-simple-rules" type="button">Present Simple</a>
        <a class="results-window-button" href="exercises/present-continuous-rules" type="button">Present Continuous</a>
        <a class="results-window-button" href="exercises/present-perfect-rules" type="button">Present Perfect</a>
        <a class="results-window-button" href="exercises/future-simple-rules" type="button">Future Simple</a>
        <a class="results-window-button" href="exercises/future-continuous-rules" type="button">Future Continuous</a>
        <a class="results-window-button" href="exercises/future-perfect-rules" type="button">Future Perfect</a>
    </div>
</div>
</body>
</html>