<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Future Perfect</title>
  <link th:href="@{/css/exercises/tense-rules.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
  <video autoplay loop class="results-background-video" muted playsinline>
    <source src="/videos/background-video.mp4" type="video/mp4">
  </video>
  <div class="results-window">
    <h2 class="results-window-title">Future Perfect</h2>
    <p class="results-window-text">Действия, которые произойдут до какого-то момента в будущем</p>
    <p class="results-window-text">I will have walked in the park by 5 pm tomorrow.</p>
    <p class="results-window-text">I / you / we / they / he / she / it + will have Ved / V3</p>
    <p class="results-window-text">Указатели: by, tomorrow, next</p>
    <p class="results-window-img"><img src="/images/future-perfect.png" alt=""></p>
    <p><a class="results-window-button" href="future-perfect" type="button">Пройти тест</a></p>
  </div>
</div>
</body>
</html>