<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Future Continuous</title>
  <link th:href="@{/css/exercises/tense-rules.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
  <video autoplay loop class="results-background-video" muted playsinline>
    <source src="/videos/background-video.mp4" type="video/mp4">
  </video>
  <div class="results-window">
    <h2 class="results-window-title">Future Continuous</h2>
    <p class="results-window-text">Действия, которые будут происходить в какой-то момент или период в будущем</p>
    <p class="results-window-text">I will be walking in the park tomorrow morning.</p>
    <p class="results-window-text">I / you / we / they / he / she / it + will be Ving</p>
    <p class="results-window-text">Указатели: tomorrow, next, in 5 minutes</p>
    <p class="results-window-img"><img src="/images/future-continuous.png" alt=""></p>
    <p><a class="results-window-button" href="future-continuous" type="button">Пройти тест</a></p>
  </div>
</div>
</body>
</html>