<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Future Simple</title>
  <link th:href="@{/css/exercises/tense-rules.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
  <video autoplay loop class="results-background-video" muted playsinline>
    <source src="/videos/background-video.mp4" type="video/mp4">
  </video>
  <div class="results-window">
    <h2 class="results-window-title">Future Simple</h2>
    <p class="results-window-text">Просьбы, предложения, согласие; будущие решения, принятые в моменте</p>
    <p class="results-window-text">I will walk in the park tomorrow.</p>
    <p class="results-window-text">I / you / we / they / he / she / it + will V</p>
    <p class="results-window-text">Указатели: tomorrow, next, in 5 minutes</p>
    <p class="results-window-img"><img src="/images/future-simple.png" alt=""></p>
    <p><a class="results-window-button" href="future-simple" type="button">Пройти тест</a></p>
  </div>
</div>
</body>
</html>