<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Past Simple</title>
  <link th:href="@{/css/exercises/tense-rules.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
  <video autoplay loop class="results-background-video" muted playsinline>
    <source src="/videos/background-video.mp4" type="video/mp4">
  </video>
  <div class="results-window">
    <h2 class="results-window-title">Past Simple</h2>
    <p class="results-window-text">Совершенные действия в прошлом</p>
    <p class="results-window-text">I walked in the park yesterday.</p>
    <p class="results-window-text">I / you / we / they / he / she / it + Ved / V2</p>
    <p class="results-window-text">Указатели: last week/month/year, in 2005, yesterday</p>
    <p class="results-window-img"><img src="/images/past-simple.png" alt=""></p>
    <p><a class="results-window-button" href="past-simple" type="button">Пройти тест</a></p>
  </div>
</div>
</body>
</html>