<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Past Perfect</title>
    <link th:href="@{/css/exercises/tense-rules.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
    <video autoplay loop class="results-background-video" muted playsinline>
        <source src="/videos/background-video.mp4" type="video/mp4">
    </video>
    <div class="results-window">
        <h2 class="results-window-title">Past Perfect</h2>
        <p class="results-window-text">Действия, которые произошли до какого-то момента или действия в прошлом</p>
        <p class="results-window-text">I had walked in the park before I went shopping.</p>
        <p class="results-window-text">I / you / we / they / he / she / it + had Ved / V3</p>
        <p class="results-window-text">Указатели: yet, just, already, before</p>
        <p class="results-window-img"><img src="/images/past-perfect.png" alt=""></p>
        <p><a class="results-window-button" href="past-perfect" type="button">Пройти тест</a></p>
    </div>
</div>
</body>
</html>