<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Past Continuous</title>
    <link th:href="@{/css/exercises/tense-rules.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
    <video autoplay loop class="results-background-video" muted playsinline>
        <source src="/videos/background-video.mp4" type="video/mp4">
    </video>
    <div class="results-window">
        <h2 class="results-window-title">Past Continuous</h2>
        <p class="results-window-text">Действия, которые происходили (длились) в какой-то момент или период в прошлом</p>
        <p class="results-window-text">I was walking in the park from 4 to 5 pm yesterday.</p>
        <p class="results-window-text">I / he / she / it + was Ving</p>
        <p class="results-window-text">you / we / they + were Ving</p>
        <p class="results-window-text">Указатели: from ... to ..., at that time</p>
        <p class="results-window-img"><img src="/images/past-continuous.png" alt=""></p>
        <p><a class="results-window-button" href="past-continuous" type="button">Пройти тест</a></p>
    </div>
</div>
</body>
</html>