<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Present Simple</title>
  <link th:href="@{/css/exercises/tense-rules.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
  <video autoplay loop class="results-background-video" muted playsinline>
    <source src="/videos/background-video.mp4" type="video/mp4">
  </video>
  <div class="results-window">
    <h2 class="results-window-title">Present Simple</h2>
    <p class="results-window-text">Регулярные действия, привычки, факты, расписание</p>
    <p class="results-window-text">I walk in the park every day.</p>
    <p class="results-window-text">I / you / we / they + V</p>
    <p class="results-window-text">he / she / it + Vs</p>
    <p class="results-window-text">Указатели: every day/week/month, always, often, sometimes, rarely, hardly ever, never</p>
    <p class="results-window-img"><img src="/images/present-simple.png" alt=""></p>
    <p><a class="results-window-button" href="present-simple" type="button">Пройти тест</a></p>
  </div>
</div>
</body>
</html>