<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Present Perfect</title>
  <link th:href="@{/css/exercises/tense-rules.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
  <video autoplay loop class="results-background-video" muted playsinline>
    <source src="/videos/background-video.mp4" type="video/mp4">
  </video>
  <div class="results-window">
    <h2 class="results-window-title">Present Perfect</h2>
    <p class="results-window-text">Завершенные действия, результат которых есть в настоящем</p>
    <p class="results-window-text">I have walked in the park recently.</p>
    <p class="results-window-text">I / you / we / they + have Ved / V3</p>
    <p class="results-window-text">he / she / it + has Ved / V3</p>
    <p class="results-window-text">Указатели: just, yet, already, since, for, recently, this week/month</p>
    <p class="results-window-img"><img src="/images/present-perfect.png" alt=""></p>
    <p><a class="results-window-button" href="present-perfect" type="button">Пройти тест</a></p>
  </div>
</div>
</body>
</html>