<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Present Continuous</title>
  <link th:href="@{/css/exercises/tense-rules.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
  <video autoplay loop class="results-background-video" muted playsinline>
    <source src="/videos/background-video.mp4" type="video/mp4">
  </video>
  <div class="results-window">
    <h2 class="results-window-title">Present Continuous</h2>
    <p class="results-window-text">Незавершенные действия, происходящие в настоящий момент</p>
    <p class="results-window-text">I am walking in the park now.</p>
    <p class="results-window-text">I + am Ving</p>
    <p class="results-window-text">you / we / they + are Ving</p>
    <p class="results-window-text">he / she / it + is Ving</p>
    <p class="results-window-text">Указатели: now, these days, at the moment, currently</p>
    <p class="results-window-img"><img src="/images/present-continuous.png" alt=""></p>
    <p><a class="results-window-button" href="present-continuous" type="button">Пройти тест</a></p>
  </div>
</div>
</body>
</html>